.List {
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    z-index: 10;
}

.List__content {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}
.List__scroll__arrow {
    cursor: pointer;
}
.List__scroll__content {
    display: flex;
    /* overflow-x: hidden; */
    width: 100%;
    height: 30rem;
    column-gap: 2rem;
}
.arrow__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}